<!DOCTYPE html>
<html>
  <head>
    <title>Mario's</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', splash_index_path %></li>
        <li><%= link_to 'View All Products', products_path %></li>
      </ul>
    </div>
  </nav>

  <body>
    <div class='container'>
      <br>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
